<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
  .login{
    width: 400px;
    margin: 8vw auto 0;
    border: solid 1px #eee;
    padding: 40px 20px;
  }
</style>
<body>
  <div id="app">
    <form class="login" @submit.prevent="login">
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" v-model="user.username" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" v-model="user.password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>

<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
<script>
  const http = axios.create({
    baseURL: 'http://localhost:3000/api/'
  })
  http.interceptors.request.use(function (config) {
    config.headers.Authorization = 'Bearer ' + localStorage.getItem('token');
    return config;
  }, function (error) {
    // Do something with request error
    return Promise.reject(error);
  });
  Vue.prototype.$http = http
  const vm = new Vue({
    el: '#app',
    data:{
      user:{
        username: null,
        password: null
      }
    },
    methods:{
      login: function () {
        this.$http.post('login', this.user).then(function(res){
          localStorage.setItem('token', res.data.token)
          location.href = 'index' 
        })
      }
    }
  })
</script>
</body>
</html>
